{% extends 'base.html' %} 
{% load static %}
{% block title %} Home | {% endblock title %} {% block head %} {% endblock head %} 
{% block body %}
<!--home Section -->
<section id="home" class="home">
  <div>
      <div class="home_skew_border">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 ">
                      <div class=" text-center">
                          <div >
                              <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                  <h3>It’s Gaming Time!</h3>
                                  <h1>WELCOME TO Gaming Zone</h1>
                                  <div class="separator"></div>
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                      industry. Lorem Ipsum has been the industry's
                                      standard dummy text ever since the 1500s, when an unknown printer took a
                                      galley
                                      of type and scrambled it to make a type specimen book.</p>
                                  <div class="home_btn">
                                      <a href="#" class="btn btn-lg m_t_10">GET
                                          STARTED NOW</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--End of home section -->

<hr />


<!-- History section -->
<section id="history" class="history sections">
  <div class="container">
      <div class="row">
          <div class="main_history">
              <div class="col-sm-6">
                  <div class="single_history_img">
                      <img src=" {% static 'assets/images/stab1.png' %}" alt="" />
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="single_history_content">
                      <div class="head_title">
                          <h2>OUR HISTORY</h2>
                      </div>
                      <p>It is a long established fact that a reader will be distracted by the readable
                          content of a page
                          when looking at its layout. The point of using Lorem Ipsum is that it has a
                          more-or-less normal
                          distribution of letters, as opposed to using 'Content here, content here', making it
                          look like readable English. Many desktop publishing packages and web page editors
                          now use
                          distribution of letters, as opposed to using 'Content here, content here', making it
                          look like readable English. Many desktop publishing packages and web page editors
                          now use
                          distribution of letters, as opposed to using 'Content here, content here', making it
                          look like readable English. Many desktop publishing packages and web page editors
                          now use
                          Lorem Ipsum as their default model text, and a search for 'lorem ipsum' </p>
                  </div>
              </div>
          </div>
      </div>
      <!--End of row -->
  </div>
  <!--End of container -->
</section>
<!--End of history -->
<hr>

<section id="contact" class="contact">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <div class="contact_contant sections">
                  <div class="head_title text-center">
                      <h2>kEEP IN TOUCH</h2>
                      <div class="separator"></div>
                  </div><!-- End off Head_title -->
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="main_contact_info">
                              <div class="row">
                                  <div class="contact_info_content padding-top-90 padding-bottom-60 p_l_r">
                                      <div class="col-sm-12">
                                          <div class="single_contact_info">
                                              <div class="single_info_text">
                                                  <h3>OUR ADDRESS</h3>
                                                  <h4>House 123, New Delhi India</h4>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-12">
                                          <div class="single_contact_info">
                                              <div class="single_info_text">
                                                  <h3>CALL US</h3>
                                                  <h4>+ 880 168 109 1425</h4>
                                                  <h4>+91 9000000000</h4>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-12">
                                          <div class="single_contact_info">
                                              <div class="single_info_text">
                                                  <h3>EMAIL US</h3>
                                                  <h4>gamingzone@email.com</h4>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="col-sm-6">
                          <div class="single_contant_left padding-top-90 padding-bottom-90">
                              <form action="#" id="formid">
                                  <div
                                      class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">

                                      <div class="row">
                                          <div class="col-sm-12">
                                              <div class="form-group">
                                                  <input type="text" class="form-control" name="name"
                                                      placeholder="First Name" required="">
                                              </div>
                                          </div>
                                      </div>


                                      <div class="row">
                                          <div class="col-sm-12">
                                              <div class="form-group">
                                                  <input type="email" class="form-control" name="email"
                                                      placeholder="Email" required="">
                                              </div>
                                          </div>
                                          <div class="col-sm-12">
                                              <div class="form-group">
                                                  <input type="text" class="form-control" name="subject"
                                                      placeholder="Subject" required="">
                                              </div>
                                          </div>
                                      </div>


                                      <div class="form-group">
                                          <textarea class="form-control" name="message" rows="7"
                                              placeholder="Message"></textarea>
                                      </div>

                                      <div class="">
                                          <input type="submit" value="SEND MESSAGE" class="btn btn-lg">
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section><!-- End of contact section -->

<!--Footer section-->
<section class="footer">
    <div class="container">
            <div class="py-6 bg-dark">
                <h3 style="font-family: 'Open Sans', sans-serif;" class="m-2 text-center text-white ">Copyright &copy; Gaming Zone 2022. All Rights Reserved</h3>
        </div>
    </div>
</section><!-- End off footer Section-->

{% endblock body %}
